{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h3>{{ title }}</h3>
        <a href="{{ path('phrase_create')}}">New Phrase</a>
        <ul class="table-list table-list-5">
            <li class="bold">Phrase</li>
            <li class="bold table-headline-wrapper">
                <div>Category</div>
                <select onchange="location = this.value">
                    <option value="{{ path('phrase_show_by_filters',{'cId': 'all', 'pId': additional['phraseTypId'], 'ptId': additional['personalityTypId'] }) }}">
                        All
                    </option>
                    {% for category in additional['categories'] %}
                        <option
                                value="{{ path('phrase_show_by_filters',{'cId': category.id, 'pId': additional['phraseTypId'], 'ptId': additional['personalityTypId'] }) }}"
                                {{ category.id == additional['categoryId'] ? 'selected' }} >
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </li>
            <li class="bold table-headline-wrapper">
                <div>Phrase Typ</div>
                <select onchange="location = this.value">
                    <option value="{{ path('phrase_show_by_filters',{'cId': additional['categoryId'], 'pId': 'all', 'ptId': additional['personalityTypId'] }) }}">
                        All
                    </option>
                    {% for phraseTyp in additional['phraseTyps'] %}
                        <option
                                value="{{ path('phrase_show_by_filters',{'cId': additional['categoryId'], 'pId': phraseTyp.id, 'ptId': additional['personalityTypId'] }) }}"
                                {{ phraseTyp.Id == additional['phraseTypId'] ? 'selected' }}>
                            {{ phraseTyp.name }}
                        </option>
                    {% endfor %}
                </select>
            </li>
            <li class="bold table-headline-wrapper">
                <div>Personality Typ</div>
                <select onchange="location = this.value">
                    <option value="{{ path('phrase_show_by_filters',{'cId': additional['categoryId'], 'pId': additional['phraseTypId'], 'ptId': 'all' }) }}">
                        All
                    </option>
                    {% for personalityTyp in additional['personalityTyps'] %}
                        <option
                                value="{{ path('phrase_show_by_filters',{'cId': additional['categoryId'], 'pId': additional['phraseTypId'], 'ptId': personalityTyp.id }) }}"
                                {{ personalityTyp.Id == additional['personalityTypId'] ? 'selected' }}>
                            {{ personalityTyp.name }}
                        </option>
                    {% endfor %}
                </select>
            </li>
            <li></li>

            {% for phrase in phrases %}
                <li>{{ phrase.phrase }}</li>
                <li>{{ phrase.category.name }}</li>
                <li>{{ phrase.phraseTyp.name }}</li>
                <li>{{ phrase.personalityTyp.name }}</li>
                <li>
                    <a href="{{ path('phrase_delete', { 'id': phrase.id }) }}">Delete</a>
                    <a href="{{ path('phrase_edit', { 'id': phrase.id }) }}">Edit</a>
                    <a href="{{ path('phrase_add_alternative', {'id': phrase.id }) }}">Add Alternative</a>
                    <a href="{{ path('phrase_show_alternatives', {'id': phrase.id }) }}">Show Alternatives</a>
                    <a href="{{ path('phrase_add_reply', {'id': phrase.id }) }}">Add Reply</a>
                    <a href="{{ path('phrase_show_replies', {'id': phrase.id }) }}">Show Replies</a>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}