{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="example-wrapper">

            <h3>{{ title }}</h3>

            <a href="/phrases/new">New Phrase</a>






        <ul class="table-list table-list-5">
            <li class="bold">Phrase</li>
            <li class="bold table-headline-wrapper">
                <div>Category</div>
                <select onchange="location = this.value">
                    <option value="/phrases/category/all/phraseTyp/{{ additional['phraseTypId'] }}/personalityTyp/{{ additional['personalityTypId'] }}">
                        All
                    </option>
                    {% for category in additional['categories'] %}
                        <option
                                value="/phrases/category/{{ category.id }}/phraseTyp/{{ additional['phraseTypId'] }}/personalityTyp/{{ additional['personalityTypId'] }}"
                                {{ category.id == additional['categoryId'] ? 'selected' }} >
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </li>
            <li class="bold table-headline-wrapper">
                <div>Phrase Typ</div>
                <select onchange="location = this.value">
                    <option value="/phrases/category/{{ additional['categoryId'] }}/phraseTyp/all/personalityTyp/{{ additional['personalityTypId'] }}">
                        All
                    </option>
                    {% for phraseTyp in additional['phraseTyps'] %}
                        <option
                                value="/phrases/category/{{ additional['categoryId'] }}/phraseTyp/{{ phraseTyp.id }}/personalityTyp/{{ additional['personalityTypId'] }}"
                        {{ phraseTyp.Id == additional['phraseTypId'] ? 'selected' }}>
                            {{ phraseTyp.name }}
                        </option>
                    {% endfor %}
                </select>
            </li>
            <li class="bold table-headline-wrapper">
                <div>Personality Typ</div>
                <select onchange="location = this.value">
                    <option value="/phrases/category/{{ additional['categoryId'] }}/phraseTyp/{{ additional['phraseTypId'] }}/personalityTyp/all">
                        All
                    </option>
                    {% for personalityTyp in additional['personalityTyps'] %}
                        <option
                                value="/phrases/category/{{ additional['categoryId'] }}/phraseTyp/{{ additional['phraseTypId'] }}/personalityTyp/{{ personalityTyp.Id }}"
                                {{ personalityTyp.Id == additional['personalityTypId'] ? 'selected' }}>
                            {{ personalityTyp.name }}
                        </option>
                    {% endfor %}
                </select>
            </li>
            <li></li>

            {% for phrase in phrases %}
                <li>{{ phrase.phrase }}</li>
                <li>{{ phrase.category.name }}</li>
                <li>{{ phrase.phraseTyp.name }}</li>
                <li>{{ phrase.personalityTyp.name }}</li>
                <li>
                    <a href="/phrase/delete/{{ phrase.id }}">Delete</a>
                    <a href="/phrase/edit/{{ phrase.id }}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}