{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h3>PhraseTyps</h3>
        <a href="{{ path('phraseTyp_create') }}">New PhraseTyp</a>
        <ul class="table-list">
            <li class="bold">PhraseTyp Name</li>
            <li></li>

            {% for phraseTyp in phraseTyps %}
                <li>{{ phraseTyp.name }}</li>
                <li>
                    <a href="{{ path('phraseTyp_delete', { 'id': phraseTyp.id }) }}">Delete</a>
                    <a href="{{ path('phraseTyp_edit', { 'id': phraseTyp.id }) }}">Edit</a>
                    <a href="{{ path('phrase_show_by_filters',{'cId': 'all', 'pId': phraseTyp.id, 'ptId': 'all' }) }}">View Phrases</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}