{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h3>Users</h3>
        <ul class="table-list table-list-5">
            <li class="bold">Email</li>
            <li class="bold">Roles</li>
            <li class="bold">Name</li>
            <li class="bold">Gender</li>
            <li></li>

            {% for user in users %}
                <li>{{ user.email }}</li>
                <li>
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </li>
                <li>{{ user.name }}</li>
                <li>{{ user.gender }}</li>
                <li>
                    <a href="{{ path('user_show', { 'id': user.id}) }}">Show</a>
{#                    <a href="{{ path('user_delete', { 'id': user.id }) }}">Delete</a>#}

{#                    {% if app.user == user %}#}
{#                        <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>#}
{#                    {% endif %}#}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}