{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h3>Personalities</h3>
        <a href="{{ path('personality_create') }}">New Personality</a>
        <ul class="table-list table-list-4">
            <li class="bold">Personality Name</li>
            <li class="bold">Main Personality Typ</li>
            <li class="bold">Secondary Personality Typ</li>
            <li></li>

            {% for personality in personalities %}
                <li>{{ personality.name }}</li>
                <li>{{ personality.personalityTypOne.name }}</li>
                <li>
                    {% if personality.personalityTypTwo %}
                        {{ personality.personalityTypTwo.name }}
                    {% endif %}
                </li>
                <li>
                    <a href="{{ path('personality_delete', { 'id': personality.id }) }}">Delete</a>
                    <a href="{{ path('personality_edit', { 'id': personality.id }) }}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}